h1{
    text-align: center;
    color: #4676A9;
    font-size: 50px;
}

h2{
    color: #cb721c;
}

footer{
    background-color: #22466c;
    color: white;
    text-align: center;
    font-size: 35px;
}